.wrapper{
    background-image:url(../img/geolocation.jpg);
    background-repeat:no-repeat;
    background-position: center center;

}

.input-form{
    padding-top:100px;
}

.input-form input{
  min-width:250px;
}

#map {
    height:100vh;
    width: 100%;
}

.resultPanel{
   margin-top:30px;
 
}