<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Client</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="WeatherApp">
    <div class="wrapper">

        <div ng-controller='WeatherInputController as inputController'>
            <input type="text" ng-model='inputController.locationInput'>
            <button ng-click='inputController.setLocation()'>Go !</button>
        </div>

        <div ng-controller="WeatherDisplayController as displayController">
            <div ng-show='displayController.showResult'>
                <h3>Showing Weather Information for: {{ displayController.locationName }}</h3>
            </div>
            <div class="panel panel-primary resultPanel">
                <div class="panel-body" ng-repeat="(key,val) in displayController.Weatherdata">
                    {{ key | uppercase}} : {{ displayController.val }}
                </div>
            </div>
        </div>

    </div>
</body>

</html>