<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Client</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="WeatherApp">
    <div class="wrapper" ng-controller='WeatherController'>
        <input type="text" ng-model='locationInput'>
        <button ng-click='getWeatherInformation()'>Go !</button>
        <div ng-show='showResult'>
            <h3>Showing Weather Information for: {{ locationInput }}</h3>
        </div>

        <div class="panel panel-primary resultPanel">
            <div class="panel-body" ng-repeat="(key,val) in Weatherdata">
               {{ key | uppercase}} : {{ val }}
            </div>
        </div>

    </div>
</body>

</html>